_css/clarity-icons/**
_css/clarity-ui/src/**
_css/clarity-ui/package.json
_css/clarity-ui/README.md
_css/kronkite.temp.css
node_modules
_css/kronkite-temp.css

_css/clarity-ui/package.json

_css/clarity-ui/README.md

*.scss

*.scss

*.scss
